.main-container {
  box-sizing: border-box;
  width: 60rem;
  max-width: 60rem;
  height: 20rem;
  max-height: 20rem;
}

.main-container .container-1 {
  display: flex;
  justify-content: space-between;
}

.main-container .container-1 .box-1 .post-title {
  font-size: 1.4rem;
  width: 50rem;
  font-weight: bold;
  margin-left: 2rem;
}

.main-container .container-1 .box-1 .post-time {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1.2rem;
  margin-left: 2rem;
}

.container-1 .box-2 .user-dp {
  width: 3vw;
  height: 5vh;
  border-radius: 1.5rem;
  margin-top: -0.5rem;
}

.container-2 .post-description {
  width: 50rem;
  height: 5rem;
  margin-left: 3rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.container-3 .box-1 {
  display: flex;
  margin-left: 48rem;
}

.container-3 .box-1 .view-count-h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 0.5rem;
}

.container-3 .box-1 .comment-counter-h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 0.5rem;
}

.container-3 .box-1 .view-count-icon {
  width: auto;
  height: 2.8rem;
  margin-top: 0.4rem;
}

.container-3 .box-1 .comment-counter {
  width: auto;
  height: 1.8rem;
  margin-top: 0.8rem;
  margin-left: 3rem;
  margin-right: 0;
}
