.cApp {
  display: flex;
  /* justify-content: space-between; */
}

.cApp h2 {
  font-weight: 700;
}
.cApp p {
  font-weight: 600;
}

/* WHOLE */
.header {
  /* background-color: pink; */
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-top: 15px;
}
.display {
  /* border: 2px solid rebeccapurple; */
  display: flex;
  width: 85vw;
  height: 85vh;
}
.searchbar {
  width: 450px;
  height: 50px;
  background-color: white;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px 0px 0px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: large;
  text-indent: 10px;
}
.searchbtn {
  width: 50px;
  height: 53px;
  background-color: rgb(185, 255, 185);
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
}
.counsellor-list {
  width: 40%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  /* border: 2px solid rebeccapurple; */
}
.counsellor-list::-webkit-scrollbar {
  display: none;
}
.map {
  /* border: 2px solid black; */
  width: 60%;
  height: 100%;
  z-index: -1;
}
.cn-text {
  text-indent: 30px;
  font-size: 1.5em;
  /* border: 2px solid rebeccapurple; */
}

/* counsellor card */
.ccard {
  /* width: 250px;
  height: 250px; */
  border: solid 5px red;
  border-radius: 20px;
  box-shadow: 5px 5px 5px darkgray;
  /* x-axis, y-axis, blur, colour */
  padding: 0px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  width: 90%;
  font-size: 70%;
}
.ccard img {
  width: 30%;
  border-radius: 10px;
}
.ccard-info {
  padding-left: 10px;
  /* border: solid 2px blue; */
}

/* MAPS */
.pin {
  display: flex;
  align-items: center;
  width: 130px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}
