* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.main-app-container {
  display: flex;
}
.main-app-container .forum-section {
  position: absolute;
  top: 17rem;
  left: 22rem;
  width: 80rem;
}

body {
  margin: 0;
  padding: 0;
}
